.member * a{
	text-decoration:none;
	color: #666;
	text-transform:uppercase;
}
.member * a:hover{
	text-decoration:underline;
	cursor:pointer;
}
/*left column*/
.member .left-col{
	width: 180px;
	float: left;
}
.member .left-col ul{
}
.member .left-col ul li{
	padding: 5px 0;
}
.member .left-col ul li a{
	font-size: 13px;
}
.member .left-col ul li a:hover{
	text-decoration:underline;
}

/*right column*/
.member .right-col {
	float: left;
	margin-left: 10px;
	padding: 8px;
	color: #333;
	border-left: dotted #b6b6b6 1px;
	width: 750px;
}
.member .right-col .list th{
	background: #333;
	color: #fff;
}
.member .right-col .list td{
	padding-left: 10px;
	padding-bottom: 3px;
	border-bottom: 1px dotted #b6b6b6;
}
/*form*/
fieldset {
	border:0;
	margin: 0 auto;
	width: 600px;
}
fieldset label{
	float: left;
	width: 150px;
	clear: left;
	margin: 4px 0;
}
fieldset input, select, span{
	float: left;
	margin: 4px 0;
}
fieldset span {
	font-weight: 700;
	margin: 8px 0;
	font-size: 14px;
}
fieldset input[type="text"],input[type="password"]{
	width: 300px;
}

